In [315]:
import numpy as np
import pandas as pd
from kmodes.kprototypes import KPrototypes

Datos = pd.read_csv('Respuestas de formulario 1000 datos.csv')

In [316]:
Datos

,Sexo,Años cumplidos,Estatura,Peso,Carrera,Semestre,Consumo de verduras en el desayuno/comida/cena,Actividad fisica en la semana,Obstaculos para realizar ejercicio,Lugares con comida balanceada
0,Mujer,23,152,NaN,Ingeniería en Mecatronica,Noveno semestre,2-3 veces,NaN,NaN,No
1,Mujer,24,162,84.0,Ingeniería en Mecatronica,Noveno semestre,Todos los días,Ningún día,Falta de motivación,No
2,Mujer,23,154,48.5,Ingeniería en Electrónica,Noveno semestre,2-3 veces,2-3 veces,Falta de areas especificas cerca del lugar don...,No
3,Hombre,22,172,62.0,Ingeniería en Diseño,Séptimo semestre,2-3 veces,2-3 veces,Falta de tiempo debido a la Universidad,No
4,Mujer,22,154,71.3,Licenciatura en Ciencias Empresariales,Noveno semestre,Todos los días,Todos los días,NaN,No
...,...,...,...,...,...,...,...,...,...,...
993,Hombre,19,188,85.0,Ingeniería en Mecanica Automotriz,Séptimo semestre,2-3 veces,2-3 veces,Falta de motivación,Si
994,Hombre,19,162,81.0,Licenciatura en Ciencias Empresariales,Primer semestre,2-3 veces,1 vez,Falta de tiempo debido a la Universidad,No
995,Mujer,20,169,70.0,Ingeniería en Electrónica,Noveno semestre,1 vez,Ningún día,"Falta de tiempo debido a la Universidad, Falta...",Si
996,Hombre,20,188,59.0,Ingeniería industrial,Séptimo semestre,1 vez,1 vez,Falta de tiempo debido a la Universidad,Si
997,Hombre,22,153,65.0,Ingeniería industrial,Tercer semestre,Todos los días,Ningún día,Falta de tiempo debido a la Universidad,No

In [317]:
Datos_df=Datos.drop(['Carrera', 'Obstaculos para realizar ejercicio', 'Lugares con comida balanceada'], axis=1)

In [318]:
Datos_df

,Sexo,Años cumplidos,Estatura,Peso,Semestre,Consumo de verduras en el desayuno/comida/cena,Actividad fisica en la semana
0,Mujer,23,152,NaN,Noveno semestre,2-3 veces,NaN
1,Mujer,24,162,84.0,Noveno semestre,Todos los días,Ningún día
2,Mujer,23,154,48.5,Noveno semestre,2-3 veces,2-3 veces
3,Hombre,22,172,62.0,Séptimo semestre,2-3 veces,2-3 veces
4,Mujer,22,154,71.3,Noveno semestre,Todos los días,Todos los días
...,...,...,...,...,...,...,...
993,Hombre,19,188,85.0,Séptimo semestre,2-3 veces,2-3 veces
994,Hombre,19,162,81.0,Primer semestre,2-3 veces,1 vez
995,Mujer,20,169,70.0,Noveno semestre,1 vez,Ningún día
996,Hombre,20,188,59.0,Séptimo semestre,1 vez,1 vez
997,Hombre,22,153,65.0,Tercer semestre,Todos los días,Ningún día

In [319]:
SDatos_df = Datos_df.fillna(0)
array = Datos_df.values   #Se le asignan los valores de la variable a array

In [320]:
array[:, 1] = array[:, 1].astype(float)  #Separa datos numericos
array[:, 2] = array[:, 1].astype(float)
array[:, 3] = array[:, 1].astype(float)

In [321]:
## Remover outliers de edad

i=0
for x in array[:,1]:
    if x > 28:      ##No mayor a 28 años
        np.delete(array, i, axis=0)
        
    if x < 16:      ##No menor a 16 años
        np.delete(array, i, axis=0)
    i=i+1

In [322]:
## Remover outliers de estatura

i=0
for x in array[:,2]:
    if x > 200:      ##No mayor a 2 metros
        np.delete(array, i, axis=0)
        
    if x < 140:      ##No menor a 1.4 metros
        np.delete(array, i, axis=0)
    i=i+1

In [323]:
## Remover outliers de peso

i=0
for x in array[:,3]:
    if x > 110:      ##No mayor a 110 KG
        np.delete(array, i, axis=0)
        
    if x < 40:      ##No menor a 40 KG
        np.delete(array, i, axis=0)
    i=i+1

In [324]:
#array
#i=0
#for x in array[:,5]:
#    if x == '2-3 veces':
#        array[i,5] = 'regular'
#        
#    if x == '1 vez':
#        array[i,5] = 'una vez'
#    i=i+1

In [325]:
array
i=0
for x in array[:,6]:
    if x == 0:
        array[i,6] = 'Ningún día'
    
    #if x == '2-3 veces':
    #    array[i,6] = 'regular'
        
    #if x == '1 vez':
    #    array[i,6] = 'una vez'
    
    i=i+1

In [326]:
array

array([['Mujer', 23.0, 23.0, ..., 'Noveno semestre', '2-3 veces',
        'Ningún día'],
       ['Mujer', 24.0, 24.0, ..., 'Noveno semestre', 'Todos los días',
        'Ningún día'],
       ['Mujer', 23.0, 23.0, ..., 'Noveno semestre', '2-3 veces',
        '2-3 veces'],
       ...,
       ['Mujer', 20.0, 20.0, ..., 'Noveno semestre', '1 vez',
        'Ningún día'],
       ['Hombre', 20.0, 20.0, ..., 'Séptimo semestre', '1 vez', '1 vez'],
       ['Hombre', 22.0, 22.0, ..., 'Tercer semestre', 'Todos los días',
        'Ningún día']], dtype=object)

In [327]:
kproto = KPrototypes(n_clusters=3, verbose=2, max_iter=20)   #Se realiza el algoritmo K_Prototype
clusters = kproto.fit_predict(array, categorical = [0,4,5,6])

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 324, ncost: 2973.8720153475942
Run: 1, iteration: 2/20, moves: 5, ncost: 2972.6447874409578
Run: 1, iteration: 3/20, moves: 0, ncost: 2972.6447874409578
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 29, ncost: 3537.969100880588
Run: 2, iteration: 2/20, moves: 1, ncost: 3537.95085341094
Run: 2, iteration: 3/20, moves: 0, ncost: 3537.95085341094
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 139, ncost: 3057.6556935609465
Run: 3, iteration: 2/20, moves: 64, ncost: 2972.6447874409578
Run: 3, iteration: 3/20, moves: 0, ncost: 2972.6447874409578
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 146, ncost: 2995.2536200235445
Run: 4, iteration: 2/20, moves: 28, ncost: 2972.6447874409578
Run: 4, iteration: 3/20, moves: 0, ncost: 2972.6447874409578
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 102, ncost: 2972.667554912283
Run: 5, iteration: 2/20, moves: 1, ncost: 2972.6447874409578
Run: 5, iteration: 3/20, moves: 0, ncost: 2972.6447874409578
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 72, ncost: 3515.0266481950803
Run: 6, iteration: 2/20, moves: 184, ncost: 3013.8342037685097
Run: 6, iteration: 3/20, moves: 43, ncost: 2972.6447874409578
Run: 6, iteration: 4/20, moves: 0, ncost: 2972.6447874409578
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 277, ncost: 2991.9989296113204
Run: 7, iteration: 2/20, moves: 22, ncost: 2972.6447874409578
Run: 7, iteration: 3/20, moves: 0, ncost: 2972.6447874409578
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 370, ncost: 2972.6447874409578
Run: 8, iteration: 2/20, moves: 0, ncost: 2972.6447874409578
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 100, ncost: 2972.6447874409578
Run: 9, iteration: 2/20, moves: 0, ncost: 2972.6447874409578
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 261, ncost: 3060.8998081481755
Run: 10, iteration: 2/20, moves: 69, ncost: 2972.6447874409578
Run: 10, iteration: 3/20, moves: 0, ncost: 2972.6447874409578
Best run was number 1

In [328]:
print(kproto.cluster_centroids_)          #Se imprimen los centroides

[['19.467261904761905' '19.467261904761905' '19.467261904761905' 'Mujer'
  'Tercer semestre' '1 vez' '1 vez']
 ['23.498470948012233' '23.498470948012233' '23.498470948012233' 'Mujer'
  'Noveno semestre' '2-3 veces' 'Todos los días']
 ['21.4955223880597' '21.4955223880597' '21.4955223880597' 'Hombre'
  'Quinto semestre' 'Todos los días' '1 vez']]

In [329]:
cluster_dict=[]                       #Se determina a que cluster pertenece cada dato
for c in clusters:
    cluster_dict.append(c)

In [330]:
#cluster_dict

In [331]:
Datos['cluster']=cluster_dict           #Se agrea la columa Cluster a datos para identificar los datos de cada cluster

In [332]:
Datos

,Sexo,Años cumplidos,Estatura,Peso,Carrera,Semestre,Consumo de verduras en el desayuno/comida/cena,Actividad fisica en la semana,Obstaculos para realizar ejercicio,Lugares con comida balanceada,cluster
0,Mujer,23,152,NaN,Ingeniería en Mecatronica,Noveno semestre,2-3 veces,NaN,NaN,No,1
1,Mujer,24,162,84.0,Ingeniería en Mecatronica,Noveno semestre,Todos los días,Ningún día,Falta de motivación,No,1
2,Mujer,23,154,48.5,Ingeniería en Electrónica,Noveno semestre,2-3 veces,2-3 veces,Falta de areas especificas cerca del lugar don...,No,1
3,Hombre,22,172,62.0,Ingeniería en Diseño,Séptimo semestre,2-3 veces,2-3 veces,Falta de tiempo debido a la Universidad,No,2
4,Mujer,22,154,71.3,Licenciatura en Ciencias Empresariales,Noveno semestre,Todos los días,Todos los días,NaN,No,2
...,...,...,...,...,...,...,...,...,...,...,...
993,Hombre,19,188,85.0,Ingeniería en Mecanica Automotriz,Séptimo semestre,2-3 veces,2-3 veces,Falta de motivación,Si,0
994,Hombre,19,162,81.0,Licenciatura en Ciencias Empresariales,Primer semestre,2-3 veces,1 vez,Falta de tiempo debido a la Universidad,No,0
995,Mujer,20,169,70.0,Ingeniería en Electrónica,Noveno semestre,1 vez,Ningún día,"Falta de tiempo debido a la Universidad, Falta...",Si,0
996,Hombre,20,188,59.0,Ingeniería industrial,Séptimo semestre,1 vez,1 vez,Falta de tiempo debido a la Universidad,Si,0
997,Hombre,22,153,65.0,Ingeniería industrial,Tercer semestre,Todos los días,Ningún día,Falta de tiempo debido a la Universidad,No,2

In [333]:
Datos[Datos['cluster']== 0].head(10)           #Se imprime el cluster 0

,Sexo,Años cumplidos,Estatura,Peso,Carrera,Semestre,Consumo de verduras en el desayuno/comida/cena,Actividad fisica en la semana,Obstaculos para realizar ejercicio,Lugares con comida balanceada,cluster
8,Mujer,20,158,45.0,Ingeniería en Alimentos,Quinto semestre,Todos los días,1 vez,"Falta de tiempo debido a la Universidad, Falta...",No,0
11,Hombre,19,175,80.0,Ingeniería en Diseño,Tercer semestre,2-3 veces,2-3 veces,"Falta de tiempo debido a la Universidad, Falta...",No,0
12,Hombre,20,175,50.0,Ingeniería en Mecatronica,Primer semestre,Todos los días,Todos los días,Falta de tiempo debido a la Universidad,Si,0
13,Mujer,19,155,57.5,Ingeniería en Diseño,Tercer semestre,1 vez,1 vez,"Falta de tiempo debido a la Universidad, Falta...",No,0
15,Hombre,20,182,90.0,Ingeniería en Diseño,Tercer semestre,2-3 veces,2-3 veces,Falta de motivación,No,0
17,Mujer,19,143,42.0,Ingeniería en Diseño,Tercer semestre,1 vez,Ningún día,Falta de tiempo debido a la Universidad,Si,0
21,Mujer,19,162,53.0,Ingeniería en Diseño,Tercer semestre,2-3 veces,Ningún día,Falta de tiempo debido a la Universidad,No,0
22,Mujer,19,153,65.0,Ingeniería en Diseño,Tercer semestre,1 vez,Ningún día,Falta de tiempo debido a la Universidad,No,0
23,Hombre,19,165,67.0,Ingeniería en Diseño,Tercer semestre,2-3 veces,1 vez,"Falta de tiempo debido a la Universidad, Falta...",No,0
24,Mujer,19,156,67.0,Ingeniería en Diseño,Tercer semestre,2-3 veces,2-3 veces,Falta de areas especificas cerca del lugar don...,No,0

In [334]:
Datos[Datos['cluster']== 1].head(10)           #Se imprime el cluster 1

,Sexo,Años cumplidos,Estatura,Peso,Carrera,Semestre,Consumo de verduras en el desayuno/comida/cena,Actividad fisica en la semana,Obstaculos para realizar ejercicio,Lugares con comida balanceada,cluster
0,Mujer,23,152,NaN,Ingeniería en Mecatronica,Noveno semestre,2-3 veces,NaN,NaN,No,1
1,Mujer,24,162,84.0,Ingeniería en Mecatronica,Noveno semestre,Todos los días,Ningún día,Falta de motivación,No,1
2,Mujer,23,154,48.5,Ingeniería en Electrónica,Noveno semestre,2-3 veces,2-3 veces,Falta de areas especificas cerca del lugar don...,No,1
6,Hombre,24,180,82.0,Ingeniería en Mecatronica,Noveno semestre,2-3 veces,2-3 veces,"Falta de tiempo debido a la Universidad, Falta...",No,1
14,Mujer,23,154,68.0,Licenciatura en Ciencias Empresariales,Séptimo semestre,2-3 veces,1 vez,Falta de areas especificas cerca del lugar don...,No,1
19,Hombre,24,181,72.0,Ingeniería en Mecatronica,Noveno semestre,2-3 veces,2-3 veces,Falta de areas especificas cerca del lugar don...,Si,1
32,Hombre,24,167,70.0,Ingeniería en Mecatronica,Noveno semestre,2-3 veces,Todos los días,Falta de areas especificas cerca del lugar don...,No,1
34,Hombre,23,175,71.7,Ingeniería en Mecatronica,Séptimo semestre,Todos los días,Todos los días,"Falta de tiempo debido a la Universidad, Falta...",Si,1
35,Hombre,23,160,60.0,Ingeniería en Mecatronica,Séptimo semestre,1 vez,2-3 veces,"Falta de tiempo debido a la Universidad, Falta...",No,1
38,Hombre,23,171,107.0,Ingeniería en Mecatronica,Séptimo semestre,Todos los días,2-3 veces,Falta de tiempo debido a la Universidad,Si,1

In [335]:
Datos[Datos['cluster']== 2].head(10)           #Se imprime el cluster 2

,Sexo,Años cumplidos,Estatura,Peso,Carrera,Semestre,Consumo de verduras en el desayuno/comida/cena,Actividad fisica en la semana,Obstaculos para realizar ejercicio,Lugares con comida balanceada,cluster
3,Hombre,22,172,62.0,Ingeniería en Diseño,Séptimo semestre,2-3 veces,2-3 veces,Falta de tiempo debido a la Universidad,No,2
4,Mujer,22,154,71.3,Licenciatura en Ciencias Empresariales,Noveno semestre,Todos los días,Todos los días,NaN,No,2
5,Mujer,22,161,64.0,Ingeniería en Diseño,Séptimo semestre,Todos los días,Ningún día,Falta de motivación,No,2
7,Mujer,22,145,52.0,Ingeniería en Mecatronica,Séptimo semestre,Todos los días,Ningún día,"Falta de tiempo debido a la Universidad, Falta...",No,2
9,Hombre,22,175,80.0,Ingeniería en Mecatronica,Séptimo semestre,Todos los días,1 vez,Falta de tiempo debido a la Universidad,No,2
10,Mujer,22,178,80.0,Licenciatura en Ciencias Empresariales,Noveno semestre,Todos los días,2-3 veces,Falta de tiempo debido a la Universidad,No,2
16,Mujer,21,155,53.0,Licenciatura en Ciencias Empresariales,Séptimo semestre,Todos los días,Ningún día,Falta de motivación,No,2
18,Hombre,21,165,70.0,Licenciatura en Ciencias Empresariales,Séptimo semestre,2-3 veces,Ningún día,"Falta de tiempo debido a la Universidad, Falta...",Si,2
20,Hombre,21,180,90.0,Licenciatura en Ciencias Empresariales,Séptimo semestre,2-3 veces,1 vez,"Falta de tiempo debido a la Universidad, Falta...",No,2
26,Mujer,21,154,51.9,Licenciatura en Ciencias Empresariales,Séptimo semestre,Todos los días,Todos los días,Falta de tiempo debido a la Universidad,No,2